.nav-link {
	cursor:pointer;
}

.modal {
    display: block;
}

.modal-backdrop,
.modal {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
}

.modal-img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
